<form action="/posts/add" method="post">
    <label>Titulo</label>
    <input name="titulo"/>
    <label for="w3review">Texto:</label>

<textarea id="w3review" name="w3review" rows="5" cols="60">

</textarea>

    <input type="submit" value="Enviar"/>
</form>
