<form action="/posts/add" method="post">
    <label>Titulo</label>
    <input name="titulo"/>
    <label>Texto:</label>

<textarea id="textos" name="texto" rows="5" cols="60">

</textarea>

    <input type="submit" value="Enviar"/>
</form>
